{% extends 'base.html.twig' %}

{% block title %}Hello BooksController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>


    <h1>Mes livres </h1>
    <a class="btn btn-success mt-4" href="{{ path('add_book')}}" role="button">Ajouter un nouveau livre</a>   
    <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Isbn</th>
      <th scope="col">Titre</th>
      <th scope="col">Auteur</th>
      <th scope="col">Résumé</th>
      <th scope="col">Image</th>
      <th scope="col">Nombre</th>
      <th scope="col">Modifier</th>
      <th scope="col">Supprimer</th>
    </tr>
  </thead>
  {% for book in books %}
  <tbody>
    <tr class="table-secondary">
      <th scope="row">{{book.isbn}}</th>
      <td>{{book.title}}</td>
      <td>{{book.author}}</td>
      <td>{{book.overview}}</td>
      <td>{{book.picture}}</td>
      <td>{{book.browse}}</td>
      <td><button type="button" class="btn btn-warning">Modifier</button></td>
      <td><button type="button" class="btn btn-danger" onclick="window.location.href='{{ path('delete_book', { id: book.id}) }}';">Supprimer</button></td>
    </tr>
    {% endfor %}

  </tbody>
</table>


   
{% endblock %}
